{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <link rel ="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1 style="color: rgb(230, 8, 97); text-align: center;">Library Management System</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/add/">Add Library</a>
        </nav>
    </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>
    <style>
        body{
            text-align: center;
            background-color: rgba(154, 115, 154, 0.575);
        }
        p{
            color:black;

        }
    </style>
</body>
</html>